<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="shortcut icon" href="https://avatars1.githubusercontent.com/u/16670651?s=96&v=4">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <center>
          <img align="center" width="128" height="128" src="https://avatars1.githubusercontent.com/u/16670651?s=128&v=4">
          <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
          </center>
        </header>
        <section id="downloads" class="clearfix">
		<div style="display: flex; align-items: center; justify-content: center">
			<a href="https://maurycyliebner.github.io/index" class="button homeButton"><span>Home</span></a>
			<a href="https://maurycyliebner.github.io/docs/index" class="button docsButton"><span>Documentation</span></a>
			<a href="https://maurycyliebner.github.io/dow/index" class="button dowButton"><span>Download</span></a>
		</div>
        </section>
        <section id="docsLinks">
			<a href="https://maurycyliebner.github.io/docs/shaderEffects" class="link"><span>Shader Effects</span></a>
			<a href="https://maurycyliebner.github.io/docs/xevSpecification" class="link"><span>Xev Specification</span></a>
        </section>
        <hr>
        <section id="main_content">
			{{ content }}
        </section>

        <footer>
        </footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
<script>
(function() {
    var url = window.location.href;
    var last = url.split('/');
    var clas;
    var folder = "";
    if(last.length < 5) clas = "homeButton";
    else {
        folder = last[last.length - 2];
        clas = folder + "Button";
    }
    var docsLinks = document.getElementById("docsLinks");
    if(folder == "docs") docsLinks.style.display = "block";
    else docsLinks.style.display = "none";
    var button = document.getElementsByClassName(clas)[0];
    button.classList.add("activeButton");
})();
</script>
  </body>
</html>
